
<div>
  <p>ymap works!</p>
  <button nz-button nzType="primary" (click)="clear()">Clear</button>

  <svg id="d3-container" style="height: 400px;"></svg>
  <svg id="rect" style="height: 500px;">
    <path transform = "translate(200, 0)" />
  </svg>
</div>


<!-- 

<div class="ymap-container"
  [style]="'grid-template-column: repeat(' + layout.maxCol + ', ' + 100 / layout.maxCol + '%);' + 
           'grid-template-rows: repeat(' + layout.maxRow + ', ' + 100 / layout.maxRow + '%);'">

  <ng-container *ngFor="let aline of ymapModule.ymap.items; let layer = index">
    <div *ngFor="let node of aline.nodeArray; let index = index"
    class="ymap-container-item"
    (click)="log(node.lines)"
    [style]="
      'grid-column-start:'+ node.layout?.left + 
      ';grid-column-end:'+ node.layout?.right +
      ';grid-row-start:'+ node.layout?.top + 
      ';grid-row-end:'+ node.layout?.bottom">
      <span (click)="add(layer, index)">
        {{ node.name }}
      </span>
    </div>
  </ng-container> -->

  <!-- 绘制线段 -->
  <!-- <ng-container *ngFor="let aline of ymapModule.ymap.items">
    <ng-container *ngFor="let node of aline.nodeArray;">
      <div *ngFor="let line of node.lines"
        class="ymap-container-line"
        [style]="
        'grid-column-start:'+ line.x_1 + 
        ';grid-row-start:'+ line.y_1 +
        ';grid-column-end:'+ (line.x_2 + 1 )+
        ';grid-row-end:'+ (line.y_2 + 1)">
        
      </div>
    </ng-container>
  </ng-container> 
</div> -->