<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
          nzCollapsible
          nzWidth="256px"
          nzBreakpoint="md"
          [(nzCollapsed)]="isCollapsed"
          [nzTrigger]="null">
    <app-sidebar [isCollapsed]="isCollapsed"></app-sidebar>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <div class="app-header-user">
          <span style="font-size: 16px;margin-right: 10px;">{{ userModule.userID }}</span>
          <button nz-button nz-dropdown 
            [nzDropdownMenu]="menu2" 
            nzShape="circle"
            nzPlacement="bottomRight">
            <i nz-icon nzType="user" style="font-size: 20px;"></i>
          </button>
          <nz-dropdown-menu #menu2="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="userModule.action.logout()">logout</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

