<div class="title-big">{{ text.user?.welcome(userModule.userID ) }}</div>

<!-- <button (click)="userModule.action.logout()">{{ text.user?.logout }}</button> -->
<div style="padding: 20px 0">
  <nz-select [(ngModel)]="layoutModule.lang">
    <ng-container *ngFor="let item of langs">
      <nz-option [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
    </ng-container>    
    
  </nz-select>
</div>

<div style="width: 500px;">
  <nz-list nzBordered [nzHeader]="text.layout?.shortcutKey">
    <nz-list-item *ngFor="let item of text.layout?.shortcutKeyList">
      <span nz-typography><mark>{{ item.key }}</mark></span>
      {{ item.describe }}
    </nz-list-item>
  </nz-list>

</div>