.form {

  &-item {
    padding-left: 8px;
    padding-right: 8px;

    &-pre-content {
      text-align: left;
      padding-top: 4px;
      padding-right: 5px;
    }
    
  }
}


.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.ant-btn {
  width: 100%;
}