<p>setting works!</p>

<button (click)="exportExcel()">导出</button>

<table id="outTable" border="1" cellspacing="0" cellpadding="0" >
  <thead>
      <tr>
          <td>序号</td>
          <td>姓名</td>
          <td>年龄</td>
          <td>兴趣</td>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>1</td>
          <td>张三</td>
          <td>18</td>
          <td>打游戏</td>
      </tr>
      <tr>
          <td>2</td>
          <td>李四</td>
          <td>88</td>
          <td>看电影</td>
      </tr>
      <tr>
          <td>3</td>
          <td>王五</td>
          <td>81</td>
          <td>睡觉</td>
      </tr>
  </tbody>
</table>