
.layout {
  float: left;
  height: 100vh;
  width: 100vw;

  &-sidebar {
    float: left;
    width: 100px;
    height: inherit;
  }

  &-main {
    float: left;
    width: calc(100vw - 100px);
    height: inherit;
  }

  &-nav {
    float: left;
    height: 50px;
    width: inherit;
  }

  &-page {
    float: left;
    height: calc(100vh - 50px);
    width: inherit;
  }
}