
.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 10px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all .3s;
}

.dark {
  background: #001529;
}

.dark h1 {
  color: #fff;
}

.light {
  background: #fff;
}

.light h1 {
  color: #000000d9;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
}