
  <div class="sidebar-logo" 
    [ngClass]="{'dark': layoutModule.state.siderTheme === 'dark', 'light': layoutModule.state.siderTheme === 'light'}">
    <a href="https://gitee.com/Yubi233/yubi-angular-template" target="_blank">
      <h1>Yubi admin template of NG</h1>
    </a>
  </div>
  <ul nz-menu 
    [nzTheme]="layoutModule.state.siderTheme" 
    [nzMode]="'inline'" 
    [nzInlineCollapsed]="isCollapsed">
    <ng-container *ngFor="let item of menu.items">
      <li *ngIf="item.type == 'submenu'; else menuItem" 
          nz-submenu nzOpen 
          [nzTitle]="item.title()" 
          [nzIcon]="item.icon">
        <ul>
          <li nz-menu-item nzMatchRouter 
            *ngFor="let child of item.childs">
            <a (click)="changePage(child.name, child.path)" [routerLink]="child.path">{{ child.name() }}</a>
          </li>
        </ul>
      </li>
      <ng-template #menuItem>
        <li nz-menu-item nzMatchRouter>
          <a (click)="changePage(item.name, item.path)" [routerLink]="item.path">
            <i nz-icon [nzType]="item.icon"></i>
            <span>
              {{ item.name() }}
            </span>
          </a>
        </li>
      </ng-template>
    </ng-container>

  </ul>
